* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
#root {
  width: 100%;
  height: 100%;
}

/* Styling Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 15px 0; /* Merubah padding pada sisi atas dan bawah */
  width: 100%; /* Lebar penuh */
}

.header__logo img {
  width: 100px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menuLink {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s;
  margin-right: 20px; /* Tambahkan margin antara tautan menu */
}

.header__menuLink:last-child {
  margin-right: 0; /* Hapus margin dari tautan menu terakhir */
}

.header__user .header__userAvatar {
  width: 40px;
  border-radius: 50%;
}

/* Styling Home */
.banner {
  position: relative;
  height: 100vh;
  display: flex;
}

.banner__background {
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner__backgroundImage {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  object-fit: cover;
}

.banner__content {
  padding-top: 200px;
  align-items: center;
  text-align: center;
  color: #fff;
}
.banner__content h1{
  font-size: 3.4rem;
}
.banner__content p {
  font-size: 1.2rem;
}
.banner__buttons {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.banner__button {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.banner__button:hover {
  background-color: #a10101;
}

/* MovieList.css */
.Movie-List {
  width: 100%;
}
.movie-list {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #000;
}

/* Gaya kartu film (MovieCard) */
.movie-card {
  background-color: #000;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  display: flex; /* Menjadikan kartu flex container */
  flex-direction: column; /* Menjadikan isi kartu tampil dalam kolom */
  align-items: center; /* Menengahkan isi kartu secara horizontal */
  margin: 30px 0px 30px 0px;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card__image {
  width: 400px;
  height: 530px;
  object-fit: cover;
}

.movie-card__content {
  flex-grow: 1;
  text-align: center;
}

.movie-card__title {
  font-size: 1.2rem;
  margin: 0;
  color: #fff;
}

.movie-card__rating {
  font-size: 1rem;
  color: #ffc;
}

/* Styling Form */
.Form {
  background-color: #000;
  color: #fff;
}
.form-container {
  max-width: 450px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form-submit-button:hover {
  background-color: #0056b3;
}

/* Styling Footer */
.footer {
  margin-top:30vh;
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer__content {
  font-size: 0.9rem;
}

.footer__social {
  margin-top: 10px;
}

.footer__socialLink {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 10px;
}

.footer__socialLink:hover {
  color: #ff69b4;
}

.footer__links {
  margin-top: 20px;
}

.footer__links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 10px;
}

.footer__links a:hover {
  color: #ff69b4;
}

@media screen and (min-width: 1380px) {
  .home {
    text-align: center;
    padding-left: 500px;
  }
}
